body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #F2A341;
}

.kontener1 {
    width: 800px;
    height: 200px;
    margin: 20px auto;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.lato, .jesien {
    display: inline-block;
    box-sizing: border-box;
    height: 200px;
    width: 400px;
    text-align: center;
    pad: 20px;
}

.lato {
    /* color: white; */
    background-color: #4e7540;
}

.jesien {
    /* color: white; */
    background-color: #D96704;
}

h1 {
    color: white;
}

.like {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
}