body {
    margin: 0px;
    text-align: center;
    background-color: #fff;
}

header {
    width: 100%;
    background-color: #466995;
    border-bottom-color: 2px solid #466995;
}

ul {
    margin-left: 30px auto;
    margin-right: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 80px;
}

li:hover {
    background-color: #dbe9ee;
}