body {
    padding: 0px;
    margin: 0px;
}

header, .gazetaFooter {
    text-align: center;
    background-color: rgb(255, 207, 136);
    padding: 10px;
    border-radius: 15px;
    border: 1px dashed orange;

    position: sticky;
    top: 35px;
}
header:hover,.d1:hover, .gazetaFooter:hover {
    border-color: brown;
}

.d1 {
    column-count: 3;
    column-gap: 20px;

    background-color: rgb(255, 207, 136);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    margin-bottom: 150px;
    border: 1px dashed orange;

    position: sticky;
    top: 200px;
}

img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid salmon;
}

img:hover {
    border-color: brown;
}

.articleHeader {
    font-weight: bold;
    font-size: 150%;
}
.articleHeader::first-letter {
    font-size: 200%;
}

.articleFooter {
    text-align: right;
}

.gazeta {
    position: static;
    background-color: bisque;
    padding: 25px;
    max-width: 1000px;
    margin: auto;
}

.reklamy {
    width: 100%;
}

.reklamy > a {
    width: 30%;
}

.reklamy > a > img {
    width: 30%;
}