body {
    background-color: bisque;
    padding: 25px;
}

.d1 {
    column-count: 3;
    column-gap: 15px;

    background-color: rgb(255, 207, 136);
    padding: 20px;
    border-radius: 10px;
}

img {
    height: 100px;
    width: 100px;
}