body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222;
    color: white;
    line-height: 200%;
    font-size: 1.5em;
}
 
h1
{
    text-align: center;
}

dt::first-letter
{
    font-size: 30px;
    color: darkorange;
    font-style: italic;
}

dt::first-line
{
    font-size: 24px;
    color: gray;
}

#link:link
{
    text-decoration: none;
}

#visited:visited
{
    color: greenyellow;
}

#visited:active
{
    color: red;
}

#active:active
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#hover:hover
{
    color: coral;
    text-decoration: none;
    text-transform: capitalize;
}

#focus:focus
{
    color: aqua;
    text-transform: uppercase;
}

form
{
    text-align: center;
}

#text:focus, #submit:focus 
{
    background-color: red;
    color: white;
}

#text:hover, #submit:hover 
{
    background-color: darkgray;
}