html 
{
    font-size: 100%;
}

p 
{
    font-family: 'Courier New', Courier, monospace;
}

div
{
    font-family: 'Times New Roman', Times, serif;
}

/* //////////////////////////////////////// */
span
{
    font-size: 1.6em;
}

.small
{
    font-size: xx-small;
}

.larger
{
    font-size:larger;
}

.point
{
    font-size: 24pt;
}

.percent
{
    font-size: 250%;
}

/* //////////////////////////////////////// */
.normal
{
    font-style: normal;
}

.italic
{
    font-style: italic;
}

.oblique
{
    font-style: oblique;
}

.oblique_p_k
{
    font-style: oblique 15deg;
}