body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222;
    color: white;
    line-height: 200%;
    font-size: 1.5em;
}
 
h1
{
    text-align: center;
}

#pierwszaLitera
{

}

#pierwszaLinia
{

}

#link:link
{
    text-decoration: none;
}

#visited:visited
{
    text-decoration: none;
    color: greenyellow;
}