* {
    margin: 10px;
    background-color: rgb(53, 53, 53);
}

p {
    color: blue;
    font-weight: bold;
}

div, ul {
    font-size: 20px;
    color: red;
}

em {
    background-color: pink;
}

li em {
    font-size: 15px;
    color: yellow;
    background-color: black;
}

.pierwsza {
    background-color: greenyellow;
    color: darkgreen;
}

.druga {
    font-size: 25px;
}

.pierwsza.druga {
    font-style: italic;
    font-weight: bold;
    border: 2px solid purple;
    padding: 5px;
}

#wyjatkowe {
    color: magenta;
}
